*{
    margin-left: 100px;
}

div{
    margin-top: 100px;
}

textarea {
    display: block;
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}