<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="acontent"> Réponse</label>
      <textarea type="text" formControlName="acontent" placeholder="Entrez votre réponse..."></textarea>
      <button type="submit" [disabled]="!form.valid"> Poster la réponse </button>
    </form>
</div>