<ul class="container">
    <li><img src="assets/psyduck.png" alt=""></li>
    <li class="appname"><p>stackbarbaflow</p></li>
    <ng-template class="navlinks" [ngIf]="!authenticationService.isLoggedIn()" [ngIfElse]="logged">
        <li class="disconnect"><a href="#" [routerLink]="['/login']">Connexion</a></li>
        <li class="disconnect"><a href="#" [routerLink]="['/register']">Inscription</a></li>
    </ng-template>
    
    <ng-template class="navlinks" #logged>
        <li class="disconnect"><a href="" (click)="authenticationService.logout()">Déconnexion</a></li>
        <li class="username"><p>{{ authenticationService.getter() }}</p></li>
        
    </ng-template>
    <li class="home"><a href="" [routerLink]="['']">Accueil</a></li>
</ul>