img {
    width: 60px;
    position: relative;
    bottom: 6px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    vertical-align: middle;
    font-size: large;
}

li {
    position: relative;
    float: left;
    top: 6px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.username {
    float: right;
    color: white;
    padding: 14px 16px;
}

.disconnect {
    float: right;
    border: 2px solid white;
    border-radius: 12px;
    background-color: grey;
}

a:hover::after {
    position: absolute;
    top: 30px;
    left: 0;
    content: "";
    width: 0%;
    height: 0%;
    height: 3px;
    transition: all 0.5s;
    background-color: rgb(255, 255, 255);
}

a:hover::after{
    width: 100%;
}

.home {
    float: right;
}

.appname {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-kerning: auto;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
    color: white;
}