* {
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card {
    margin: 80px;
    padding: 20px;
    width: 80vw;
    height: max-content;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(63, 63, 63);
    color: white;
}

.card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: white;
}

.card__apply {
    grid-row: 4/5;
    align-self: center;
}

.answer__button{
    float: right;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(180, 180, 180);
    color: black;
}

.answer__button:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}
