<div class="card" *ngIf="questionService.question">
    <p>Postée par: {{questionService.question.user.username}}</p>
    <p>{{questionService.question.date}}</p>
    <div>
        <h1 class="card__title">{{questionService.question.title}}</h1>
        <p class="card__apply">{{questionService.question.qcontent}}</p>
        
    </div>
</div>
    <ng-template [ngIf]="authenticationService.isLoggedIn()">
        <button class="answer__button" href="#" (click)="displayForm()">Répondre</button>
        <app-create-answer [hidden]="isShow"></app-create-answer>
    </ng-template>
    <app-question-answers ></app-question-answers>
