<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="title">Titre</label>
      <input type="text" formControlName="title" placeholder="Le titre doit se terminer par un ?">

      <label for="qcontent">Détails</label>
      <textarea type="textarea" formControlName="qcontent" placeholder="Détaillez votre question..."></textarea>
      <button type="submit" [disabled]="!form.valid"> Poster la question </button>
    </form>
</div>
