<p>login works!</p>
<a [routerLink]="['../']">&#x3008;  Retour</a>


<form [formGroup]="form" (ngSubmit)="getValueFormLogging()" >
        <input type="text" formControlName="username" placeholder="username">
        <input type="password" formControlName="password" placeholder="password">

        <button type="submit"> Se connecter </button>
</form>
