<div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <label for="username"> Nom d'utilisateur</label>
                <input type="text" formControlName="username" placeholder="Choississez un nom d'utilisateur">

                <label for="password">Mot de passe</label>
                <input type="password" formControlName="password" placeholder="Choissisez votre mot de passe">

                <button type="submit"> S'enregistrer </button>
        </form>
</div>