<section  *ngIf="answerService.answers.length">
    <h1>{{answerService.answers.length}} Réponse(s)</h1>
    <div *ngFor="let answer of answerService.answers">
        <div class="card"*ngIf="answer">
            <p>{{answer.answerdate}}</p>
            <p>{{answer.user.username}}</p>
            <div>
                <p class="card__apply">{{answer.acontent}}</p>
            </div>
        </div>
    </div>
</section>
