* {
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cards {
    display: block;
    justify-content: space-between;
}

.card {
    margin: 80px;
    padding: 20px;
    width: 80vw;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(63, 63, 63);
    color: white;
}



.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card__link {
    position: relative;
    text-decoration: none;
    color: rgb(180, 180, 180);
}

.card__link{
    float: right;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(180, 180, 180);
    color: black;
}

.card__link::after{
    position: absolute;
    top: 30px;
    left: 0;
    content: "";
    width: 0%;
    height: 0%;
    height: 1px;
    transition: all 0.5s;
    background-color: rgb(255, 255, 255);
}
.card__link:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card__link:hover::after{
    width: 100%;
}

.card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: white;
}

.card__apply {
    grid-row: 4/5;
    align-self: center;
}
