<button routerLink="/questions"> Poser une question! </button>

<!-- 
    <div *ngIf="questionService.questions.length" id="container">
      <div *ngFor="let question of questionService.questions">
        <div *ngIf="question">
          <div>
            <h1>{{question.title}}</h1>
          </div>
          <p>{{question.qcontent}}</p>
          <p>{{question.date}}</p>
          <a href="" [routerLink]="['/questions', question.tid]" >Voir plus</a>

           <ng-template class="navlinks" [ngIf]="authenticationService.isLoggedIn()">
            <a href="" [routerLink]="['/questions', question.tid]">Répondre</a>
          </ng-template>
        </div>
      </div>
</div> -->






<div class="cards" *ngIf="questionService.questions.length">
  <div class="card" *ngFor="let question of questionService.questions">
    <div *ngIf="question">
    <h2 class="card__title">{{question.title}}</h2>
    <a class="card__link" href="#" [routerLink]="['/questions', question.tid]"> Voir plus +</a>
    <p class="card__apply">
      {{question.qcontent}}
    </p>
    </div>
  </div>